<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="jumbotron">
        <h1>
          <%= @website_name %> is now 
          <%= @your_output %> seconds old
        </h1>
      </div>

    </div>
  </div>
</div>
